/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
/.idea
atlassian*
/nbproject
/.github

/sitemap
/lib
/node_modules
/.grunt
/pub
/dev
/bin
/phpserver
/setup
/update
/var
/vendor
!/vendor/magento/framework/Mail/Template/TransportBuilder.php
/generated

/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/db_schema.xml
/app/etc/registration_globlist.php
/app/etc/vendor_path.php
/app/*.php
/app/.htaccess
/app/etc/config.php
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/auth.json.sample
/robots.txt
/sitemap.xml
/.htaccess
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
/CHANGELOG.md
/COPYING.txt
/index.php
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
.DS_Store

/db/*
!/db/m2_clean.sql
!/db/m2_after_fixes.sql
!/db/fixtures
!/db/fixtures/*
